<mat-sidenav-container class="layout-container">
  <mat-sidenav #sidenav [opened]="!isCollapsed" mode="side" class="sidebar">
    <app-sidebar (tabSelected)="onTabSelected($event)"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      mat-icon-button
      class="toggle-button"
      (click)="onToggleCollapse()"
      aria-label="Toggle sidebar"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
