:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg-main);
  min-height: calc(
    100vh - 104px
  );

  app-card {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (min-width: 768px) {
  :host {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media (min-width: 1200px) {
  :host {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
